<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%=
      content_tag(:title,
        case yield_content(:title) || current_page.data.title
        when nil then 'Mount Adams Challenge'
        else (yield_content(:title) || current_page.data.title) + ' | Mount Adams Challenge'
        end
        )
    %>
    <%= yield_content :head %>
    <%= dato_favicon_meta_tags %>
    <%= stylesheet_link_tag 'site' %>
    <%= yield_content :style %>
  </head>

  <body class="<%= page_classes %>">

    <header class="site-header" role="banner">
      <h1 class="site-header__brand" href="/">
        <%= link_to('Mount Adams Challenge', '/') %>
      </h1>
      <nav class="site-header__links">
        <%= nav_link "Route", "/route/", class: "site-nav-link" %>
        <%= nav_link "Results", "/results/", class: "site-nav-link" %>
        <%= nav_link "Reports", "/reports/", class: "site-nav-link" %>
      </nav>
    </header>

    <main class="site-main" role="main">
      <%= yield %>
    </main>

    <%= yield_content :script %>

  </body>
</html>