

  <section id="welcome" class="section section-xtra">
    <div class="container">
      <figure class="">
        <%= image_tag "logo.svg", :class => 'logo' %>
      </figure>
    </div>
  </section>

  <section id="challenge" class="section section-special">
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <h1 class="secondary-title secondary-title-darkbg">
          The Challenge
        </h1>
        <%= markdownify(dato.homepage.challenge_copy) %>
      </div>
    </div>
  </section>

  <section id="point" class="section section-touch section-touch-special">
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <h1 class="secondary-title">
          The Point
        </h1>
        <%= markdownify(dato.homepage.point_copy) %>
      </div>
    </div>
  </section>

  <section id="reward" class="section section-alt section-touch">
    <div class="container">
      <div class="col-md-8 offset-md-2">
        <h1 class="secondary-title secondary-title-altbg">
          The Reward
        </h1>
        <%= markdownify(dato.homepage.reward_copy) %>
      </div>
    </div>
  </section>

  <section id="route" class="section">
    <figure class="route-stats">
      <figcaption>
        <div class="stat stat-one slide-left">
          <span class="stat-number">7</span>
          <span class="stat-unit">Trails</span>
        </div>
        <div class="stat stat-two slide-left">
          <span class="stat-number">5.6</span>
          <span class="stat-unit">Miles</span>
        </div>
        <div class="stat stat-three slide-left">
          <span class="stat-number">4,493</span>
          <span class="stat-unit">Feet</span>
        </div>
      </figcaption>
    </figure>
    <section class="section-content">
      <div class="container">
        <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
          <h1 class="secondary-title">
            The Route
          </h1>
          <p>
            The Mount Adams Challenge route follows seven trails:
          </p>
          <ol class="route-segments">
            <% dato.segments.each do |segment| %>
              <li class="route-segment">
                <header class="route-segment-header">
                  <%= segment.order %>. <%= segment.name %>
                </header>
                <table class="route-segment-stats">
                  <tr>
                    <td class="route-segment-stat route-segment-stat-distance">
                      <%= image_tag('route-segment-distance.png', :width => '50px') %>
                      <span class="route-segment-stat-gain-figure">
                        <%= segment.distance %>
                      </span>
                      <span class="route-segment-stat-gain-unit">
                        miles
                      </span>
                    </td>
                    <td class="route-segment-stat route-segment-stat-grade">
                      <%= image_tag('route-segment-grade.png', :width => '50px') %>
                      <span class="route-segment-stat-gain-figure">
                        <%= segment.grade %>%
                      </span>
                      <span class="route-segment-stat-gain-unit">
                        grade
                      </span>
                    </td>
                    <td class="route-segment-stat route-segment-stat-gain">
                      <%= image_tag(segment.elevation_change_positive ? 'route-segment-gain.png' : 'route-segment-gain-minus.png', :width => '50px') %>
                      <span class="route-segment-stat-gain-figure">
                        <%= segment.elevation_change_value %>
                      </span>
                      <span class="route-segment-stat-gain-unit">
                        feet
                      </span>
                    </td>
                  </tr>
                </table>
                <article class="route-segment-description">
                  <%= simple_format(segment.description) %>
                </article>
              </li>
            <% end %>
          </ol>
          <div class="downloadable-directions">
            <a href="mac-directions-with-profile.pdf">
              Download printable directions &amp; profile
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section id="rules" class="section">
    <div class="container">
      <article class="col-md-10 offset-md-1">
        <h1 class="secondary-title">
          The Rules
        </h1>
        <div class="rules-columns">
          <%= markdownify(dato.homepage.rules_copy) %>
        </div>
      </article>
    </div>
  </section>

  <section id="results" class="section section-alt">
    <div class="container">
      <article class="col-md-8 offset-md-2">
        <h1 class="secondary-title secondary-title-darkbg">
          The Results
        </h1>
        <% results_by_year.each do |year, results| %>
          <table class="results-table">
            <caption>
              <%= year %>
            </caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <%
                  sorted_year = results.sort_by { |d| d.run_date }.reverse
                  sorted_year.each do |result|
              %>
                <tr>
                  <td>
                    <%= result.run_date.strftime('%b %-d') %>
                  </td>
                  <td>
                    <%= result.first_name + ' ' + result.last_name %>
                  </td>
                  <td>
                    <%= result.run_time %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <aside class="alt-section-text">
          <p>
            Share your adventure on our <a href="http://adamschallenge.tumblr.com" target="_blank">blog</a>.
          </p>
        </aside>
      </article>
    </div>
  </section>
