
<% content_for :script do %>
  <script>
    jQuery(document).ready(function() {
      jQuery('.cta-button').addClass('bounce');
      jQuery('.slide-left').waypoint(function() {
        jQuery(this).toggleClass('in');
        }, { offset: '70%' });

    });
  </script>
<% end %>

  <section id="welcome" class="section section-table section-parallax">
    <div class="section-table-cell">
      <figure class="">
        <%= image_tag "logo.svg", :class => 'logo' %>
        <div class="more-link">
          Scroll down for more info
        </div>
        <div class="cta-button">
        </div>
      </figure>
    </div>
  </section>

  <section id="challenge" class="section section-special">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="secondary-title secondary-title-darkbg">
          The Challenge
        </h1>
        <p>
          Reach the summit of Mount Adams via the designated route in under 2h10.
        </p>
      </div>
    </div>
  </section>

  <figure class="section-touch section-touch-special">
    <%= image_tag('challenge.jpg', :width => '100%') %>
  </figure>

  <section id="point" class="section">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="secondary-title">
          The Point
        </h1>
        <p>
          Based on the <a href="http://runthealps.com/blog/leukerbads-70-minute-dash" target="_blank">Leukerbads 70 minute dash</a>, the Mount Adams Challenge is an entirely informal event to be undertaken by individuals seeking a personal challenge. It is not a race. Do it in a low-key, fun way on a schedule that works for you.
        </p>
      </div>
    </div>
  </section>

  <section id="reward" class="section section-alt section-touch">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="secondary-title secondary-title-altbg">
          The Reward
        </h1>
        <p>
          The White Mountain Café and SAalt Pub will congratulate you with the classic White Mountain Cafe latte drink of your choice, the beverage of your choice at SAalt Pub, a White Mountain Cafe sticker, and a very cool certificate courtesy of Borealchick Designs.
        </p>
      </div>
    </div>
  </section>

  <section id="route" class="section">
    <figure class="route-stats section-parallax">
      <figcaption>
        <div class="stat stat-one slide-left">
          <span class="stat-number">7</span>
          <span class="stat-unit">Trails</span>
        </div>
        <div class="stat stat-two slide-left">
          <span class="stat-number">5.4</span>
          <span class="stat-unit">Miles</span>
        </div>
        <div class="stat stat-three slide-left">
          <span class="stat-number">4,488</span>
          <span class="stat-unit">Feet</span>
        </div>
      </figcaption>
    </figure>
    <article class="section-content">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="secondary-title">
            The Route
          </h1>
          <p>
            The Mount Adams Challenge route follows seven trails:
          </p>
          <ol class="route-segments">
            <% data.trail_segments.each_with_index do |segment,i| %>
              <li class="route-segment">
                <header class="route-segment-header">
                  <%= (i+1).to_s %>. <%= segment.name %>
                </header>
                <table class="route-segment-stats">
                  <tr>
                    <td class="route-segment-stat route-segment-stat-distance">
                      <%= image_tag('route-segment-distance.png', :width => '50px') %>
                      <span class="route-segment-stat-gain-figure">
                        <%= segment.distance %>
                      </span>
                      <span class="route-segment-stat-gain-unit">
                        miles
                      </span>
                    </td>
                    <td class="route-segment-stat route-segment-stat-grade">
                      <%= image_tag('route-segment-grade.png', :width => '50px') %>
                      <span class="route-segment-stat-gain-figure">
                        <%= segment.grade %>%
                      </span>
                      <span class="route-segment-stat-gain-unit">
                        grade
                      </span>
                    </td>
                    <td class="route-segment-stat route-segment-stat-gain">
                      <%= image_tag(segment.gain_positive ? 'route-segment-gain.png' : 'route-segment-gain-minus.png', :width => '50px') %>
                      <span class="route-segment-stat-gain-figure">
                        <%= segment.elevation_difference %>
                      </span>
                      <span class="route-segment-stat-gain-unit">
                        feet
                      </span>
                    </td>
                  </tr>
                </table>
                <article class="route-segment-description">
                  <%= simple_format(segment.description) %>
                </article>
              </li>
            <% end %>
          </ol>
          <div class="downloadable-directions">
            <a href="mac-directions.pdf">
              Download single-page PDF of the directions
            </a>
          </div>
        </div>
      </div>
    </article>
  </section>

  <section id="rules" class="section">
    <div class="container">
      <article class="col-md-10 col-md-offset-1">
        <h1 class="secondary-title">
          The Rules
        </h1>
        <div class="rules-columns">
          <p>
            You are responsible for your own safety. You are on your own in the mountains. Act with common sense. If you are uncertain of your ability, physical condition, or the weather, do not attempt the Mount Adams Challenge.
          </p>
          <p>
            Run with respect and good intention. Follow Leave No Trace's <a href="https://lnt.org/learn/7-principles" target="_blank">seven principles</a>.
          </p>
          <p>
            Be honest with yourself and others. No cheating!
          </p>
          <p>
            If you are trying for a fastest-known time for the challenge, please share a GPS log with us.
          </p>
          <p>
            Be grateful that we have the White Mountain National Forest, and wild areas like this in which to play. Support the Forest in their work, and if you feel so inclined, support hard-working local trail clubs. The trails on which you'll be running are maintained by the <a href="http://www.fs.usda.gov/whitemountain" target="_blank">US Forest Service</a>, <a href="http://www.outdoors.org" target="_blank">Appalachia Mountain Club</a>, and <a href="http://www.randolphmountainclub.org" target="_blank">Randolph Mountain Club</a>.
          </p>
          <p>
            Have fun and be supportive of others who are trying the challenge.
          </p>
          <p>
            Questions? Contact us at <a href="mailto:info@whitemountaincafe.com">info@whitemountaincafe.com</a>.
          </p>
        </div>
      </article>
    </div>
  </section>

  <section id="results" class="section section-alt">
    <div class="container">
      <article class="col-md-8 col-md-offset-2">
        <h1 class="secondary-title secondary-title-darkbg">
          The Results
        </h1>
        <% results_by_year.each do |year, results| %>
          <table class="results-table">
            <caption>
              <%= year %> <%#= year[1].count %>
            </caption>
            <thead>
              <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              <%
                  sorted_year = results.sort_by { |d| d.date }.reverse
                  sorted_year.each do |result|
              %>
                <tr>
                  <td>
                    <%= result.date.strftime('%b %-d') %>
                  </td>
                  <td>
                    <%= result.first_name + ' ' + result.last_name %>
                  </td>
                  <td>
                    <%= result.run_time %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <aside class="alt-section-text">
          <p>
            Share your adventure on our <a href="http://adamschallenge.tumblr.com" target="_blank">blog</a>.
          </p>
        </aside>
      </article>
    </div>
  </section>
