---
  title: About
---

<% content_for :script do %>
  <script>
    const sectionTwo = document.querySelector('.section2');
    // const sections = document.querySelectorAll('.section');
    const options = {
      root: null,
      threshold: 1
    };
    const observer = 
      new IntersectionObserver (function
        (entries, observer) {
          entries.forEach(entry => {
            console.log(entry.target);
        });
      }, options);
      observer.observe(sectionTwo);
  </script>
<% end %>


<section class="section section--hero">
  <span>2</span><span class="special">:</span><span>1</span><span>0</span><span class="special">:</span><span>0</span><span>0</span>
</section>

<section class="section">
  <%= markdownify(dato.homepage.challenge_copy) %>
  <h2 class="secondary-title">
    The Point
  </h2>
  <%= markdownify(dato.homepage.point_copy) %>
  <h2 class="secondary-title secondary-title-altbg">
    The Reward
  </h2>
  <%= markdownify(dato.homepage.reward_copy) %>
  <h2 class="secondary-title">
    The Rules
  </h2>
  <%= markdownify(dato.homepage.rules_copy) %>
</section>

<section class="section section2" style="margin: 60px 0;background: turquoise">
  <%= simple_format(lorem.paragraphs(12)) %>
</section>

<section class="section section3" style="margin: 60px 0;background:salmon">
  <%= simple_format(lorem.paragraphs(12)) %>
</section>

<section class="section section4" style="margin: 60px 0;background: violet">
  <%= simple_format(lorem.paragraphs(12)) %>
</section>

<section class="section section5" style="margin: 60px 0;background: tan">
  <%= simple_format(lorem.paragraphs(12)) %>
</section>
